@{
  Layout = "_Layout";
}
<h1>Favorite Artist Photos</h1>
<ul>
    <li><h2>Sabaton</h2>
    <img class="artist" src='~/img/Sabaton.jpg'/></li> <br>
    <li><h2>Skillet</h2>
    <img class="artist" src='~/img/skillet.jpg'/></li>
</ul>
<h3><a href="/">Back to Home</a></h3>